<template lang="pug">
div
	h1  {{ $t('application.title') }}
	p
		| {{ $t('application.description') }}
	form
		button(type='button' @click='doSomething') {{ $t('application.title') }}
</template>

<script lang='ts'>
	export default {
		data() {
			return {
				value: 10
			}
		},
		methods: {
			doSomething() {
				
			}
		}
	}
</script>
